* {
  margin: 0;
  padding: 0;
}

body{background-image: url("images_folder/black_white.png") no-repeat; background-size: 100%;}

@font-face {
  src: url(Open_Sans/OpenSans-Light.ttf);
  font-family: 'Open Sans', sans-serif;

}

.paragraphs {
  font-size: 100%;
  line-height: 100%;
  font-family: 'Open Sans',sans-serif;
  position: relative;
  background-color: #101010;
  border-radius: 15px;
  color:#FFF;
}
.paragraph {
  font-size: 15px;
  line-height: 15px;
  font-family: 'Open Sans',sans-serif;
  position: relative;
  background-color: #101010;
  border-radius: 15px;
  color:#FFF;
}
.space {
  height: 20%;
}

.bar {
  height: 66px;
  width: 400px;
  border-radius: 15px;
  background-color: #fff;
}

.form {
  border: 1px;
  border-radius: 0;
  -webkit-appearance: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1; /* Firefox */
}
.button {
  width: 190px;
  height: 45px;
  border-radius: 5px;
  color: #FFF;
  background-color: #4e57fc;
}
.text {
font-size: 25px;
line-height: 25px;
font-family: 'Open Sans',sans-serif;
position: relative;
}
